/*---contenido*/

html{
    &::-webkit-scrollbar{
        width:.8rem;
    }
    &::-webkit-scrollbar-track{
        background:transparent;
    }
    &::-webkit-scrollbar-thumb{
        background:$segundo-color;
        border-radius:5rem;
    }
}
body {
    font-family: "Prompt", sans-serif;
    outline: none;
    text-decoration: none;
    line-height: 1.5;
    background-color: $fondo;
} 
span{
    color: $segundo-color;
    font-weight: 600;

    @media (min-width:800px){
        color: $primer-color;
    }
}
/*--titulos principales de: nosotros,menu,producto,contacto--*/
.abaut__titulo  h1,
.menu .titulo h1,
.producto__titulo h1,
.contenedor__titulo h1{
    color: $primer-color;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;

    @media (min-width:800px){

        font-size:3rem;
        padding-bottom: 2rem;
        color: $segundo-color;

    }

}
/*-----INICIO---*/
section{
    padding: 2rem 5%;
}
.inicio{
    background-image: url("../img/-comprimida.jpg");
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;

    .content{
        display: flex;
        flex-direction: column;

        h1{
            color:$primer-color;
            font-size: 2rem;
            text-transform: uppercase;
        }
        .btn{
            padding:.2rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: $btn-color1;
            cursor: pointer;
            border: 3px solid $borde2;
            margin-top: 1rem;
            width: 120px;

            &:hover{
                background: $btn-fondo1;
                color: $btn-color2;
            }

        }   
           
    }

    @media (min-width:800px){
        
        background-image: url("../img/inicio-comprimida.jpg");
        padding: 6rem 2rem;
        min-height: 100vh;
        background-position: center;

        .content{
            max-width:50rem ;

            h1{
              font-size: 4rem;
              color: #d3ad7f;
            }
            .btn{
                background: $btn-fondo2;
                font-size: 1.5rem;
                width: 25%;

                &:hover{
                    background:$btn-fondo3;
                    color: $btn-color2;
                    border: 3px solid $borde2;
                }
            }
        }
        
    }

}


