@use '_commons' as c;
/*-------CONTACTO------*/
.contenedor{
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1.5em;

    .contact-wrapper {
        box-shadow: 0 0 20px  0 rgba(255, 255, 255, .3);

         > * {
            padding: 1em;
        }
        .contact-form {
            background: transparent;
            color: #fff;

            form{
                display: grid;
                grid-template-columns: 1fr 1fr;

                label{
                    display: block;
                }
                div{
                    margin: 0;
                    padding: 1em;
                }
                .block {
                    grid-column: 1 / 3;
                }
            }
            .btn_block{
                @extend %contacto;
            }
        }
        .contact-form form input,
        .contact-form form textarea {
            @extend %formulario;
        }
        .contact-info {
            background: map-get(c.$colores, tercercolor);
            color: map-get(c.$colores, infocolor);

            ul {
                list-style: none;
                padding: 0;
            }
        }
        .contact-info h4, .contact-info ul, .contact-info p {
            text-align: center;
            margin: 0 0 1rem 0;
        }
    }

    @media (min-width:800px){
        .contact-wrapper {
            display: grid;
            grid-template-columns: 2fr 1fr;

             >*{
                padding: 2em;
             }
            .contact-form {
                font-size: 1.3rem;

                .btn_block{
                    font-size: 20px;
                    margin-left: 40%;
                    margin-top: 10%;
                }
             
            }
            .contact-info h4,
            .contact-info ul,
            .contact-info p {
                text-align: center;
                font-size: 1rem;
                padding: 2rem;
            }        
        } 
    }
}
                
