@use '_commons' as c;
/*---contenido*/

html{
    &::-webkit-scrollbar{
        width:.8rem;
    }
    &::-webkit-scrollbar-track{
        background:transparent;
    }
    &::-webkit-scrollbar-thumb{
        background: map-get(c.$colores, segundocolor);
        border-radius:5rem;
    }
}
body {
    font-family: "Prompt", sans-serif;
    outline: none;
    text-decoration: none;
    line-height: 1.5;
    background-color: map-get(c.$colores, fondo);
} 
span{
    color:map-get(c.$colores, span1);
    font-weight: 600;

    @media (min-width:800px){
        color: map-get(c.$colores, span2);
    }
}
/*--titulos principales de: nosotros,menu,producto,contacto--*/
.abaut__titulo  h1,
.menu .titulo h1,
.producto__titulo h1,
.contenedor__titulo h1{
    color: map-get(c.$colores, primercolor);
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 2rem;

    @media (min-width:800px){

        font-size:3rem;
        padding-bottom: 2rem;
        color: map-get(c.$colores, segundocolor); 

    }

}
/*-----INICIO---*/
section{
    padding: 2rem 5%;
}
.inicio{
    background-image: url("../img/-comprimida.jpg");
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    padding: 4rem 2rem;

    .content{
        display: flex;
        flex-direction: column;

        h1{
            color:map-get(c.$colores, tituloinicio);
            font-size: 2rem;
            text-transform: uppercase;
        }
        .btn{
            padding:.2rem 1rem;
            font-size: 1rem;
            font-weight: 600;
            color: map-get(c.$colores, btncolor1);
            cursor: pointer;
            border: 3px solid map-get(c.$colores, borde2);
            margin-top: 1rem;
            width: 120px;

            &:hover{
                background:map-get(c.$colores, btnfondo ); 
                color: map-get(c.$colores, btn-color2);
            }

        }   
           
    }

    @media (min-width:800px){
        
        background-image: url("../img/inicio-comprimida.jpg");
        padding: 6rem 2rem;
        min-height: 100vh;
        background-position: center;

        .content{
            max-width:50rem ;

            h1{
              font-size: 4rem;
              color: #d3ad7f;
            }
            .btn{
                background: map-get(c.$colores, btnfondo2);
                font-size: 1.5rem;
                width: 25%;

                &:hover{
                    background:map-get(c.$colores, btnfondo3);
                    color: map-get(c.$colores, btncolor2);
                    border: 3px solid map-get(c.$colores, borde2);
                }
            }
        }
        
    }

}


