/*-------------Barra de navegación-------*/
.bg-light{
    background-color:transparent !important;
}

.navbar-item a {
    color: $primer-color;
    text-decoration: none;
    margin:3px;
    transition: 0,3s;
    font-size: 1rem;
    text-transform: uppercase; 

    &:hover{
        color: $segundo-color;
        border-bottom:1px solid $borde1; 
        padding-bottom: 1px;
    } 
}
#navbarNav {
    color: $primer-color;
    cursor: pointer;

    &:hover{
        color: $segundo-color;
        overflow: hidden;
        transition: .1s;
    }
}

@media (min-width:800px){
    .navbar-item a{
        font-size: 1.3rem;
    }
}
