@use '_commons' as c;
/*-------------Barra de navegación-------*/
.bg-light{
    background-color:transparent !important;
}

.navbar-item a {
    color: map-get(c.$colores, primercolor);
    text-decoration: none;
    margin:3px;
    transition: 0,3s;
    font-size: 1rem;
    text-transform: uppercase; 

    &:hover{
        color: map-get(c.$colores, segundocolor);
        border-bottom:1px solid map-get(c.$colores, borde1 ); 
        padding-bottom: 1px;
    } 
}
.iconos {
    color:map-get(c.$colores, primercolor);
    cursor: pointer;

    :hover{
        color: map-get(c.$colores, segundocolor);
        overflow: hidden;
        transition: .1s;
    }
}

@media (min-width:800px){
    .navbar-item a{
        font-size: 1.3rem;
    }
}
