@use '_commons' as c;
/*---------nosotros-----*/
@mixin flex($direction, $gap){
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}
main{
    @include flex(column, 1rem);
    padding: 3rem 1.5rem;

    .abaut{
        @include flex(column, 2rem);

        .abaut__info{
            text-align: center;
            display: flex;
            flex-direction: column;
            padding: 2rem;
            background:transparent;
            border: 1px solid map-get(c.$colores, borde3);
            border-radius: 5px;
            gap: 1rem;

            h2{
                font-size: 1.2rem;
                color: map-get(c.$colores, nosotrosh2);
                font-weight: 300;
            }
            p{
                color: map-get(c.$colores, nosotrosp);
                font-size: .85rem;
                line-height: 1.8rem;
            }
            .btn{
                @extend %boton;
                border:1px solid #d3ad7f;
            }
        }
    }
}
@media (min-width:800px){
    main{
        padding: 4rem 4rem;

        .abaut{
            display: grid;
            grid-template-columns: repeat(8,1fr);

            img{
                max-width: 100%;
                grid-column: 1/6;
                grid-row: 1/3;
                border-radius: 5px;
            }
            .abaut__info{
                grid-column: 5/9;
                grid-row: 2/3;
                background-color: map-get(c.$colores, fondo);
                padding: 4rem;
                text-align: center;
                border-radius: 1px;

                &:hover{
                    cursor: pointer;
                    background: map-get(c.$colores, tercercolor);
                }
                h2{
                    font-size: 2.3rem;
                    text-align: center;
                }
                p{
                    font-style: 1rem;
                }
                
            } 
        }
    }
}